{"name":"AgroAI","slug":"agroai","version":"1.0.0","orientation":"portrait","userInterfaceStyle":"dark","main":"index.js","assetBundlePatterns":["**/*"],"ios":{"supportsTabletMode":true},"android":{"adaptiveIcon":{"backgroundColor":"#0F172A"},"permissions":["android.permission.ACCESS_COARSE_LOCATION","android.permission.ACCESS_FINE_LOCATION"],"package":"com.tanushreddydev.agroai"},"web":{},"plugins":[["expo-location",{"locationAlwaysAndWhenInUsePermission":"Allow AgroAI to access your location"}]],"extra":{"eas":{"projectId":"898946eb-1c4c-417f-bb3c-3e22386d1bc1"}},"description":"AgroAI React Native mobile app for smart crop recommendations","sdkVersion":"51.0.0","platforms":["ios","android"]}